button {
  display: contents;
  color: #3490dc;
}

button :hover {
  color: #1d68a7;
  text-decoration: underline;
}

.posts {
  border-top: 1px solid gray;
  padding-top: 2rem;
}

.headline span {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 3%;
}

.headline .caption {
  position: relative;
}

